<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640680483463-gm3kcsi3eo2j0hrnq5bkmuamvekanhkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640680483463-gm3kcsi3eo2j0hrnq5bkmuamvekanhkg</string>
	<key>API_KEY</key>
	<string>AIzaSyAjs334GBraTdC9DEA5PXXfLdL-cQWTrDw</string>
	<key>GCM_SENDER_ID</key>
	<string>640680483463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.bloombrainv2</string>
	<key>PROJECT_ID</key>
	<string>pushnotifica-b27c7</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifica-b27c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640680483463:ios:1bf259b6efad2a3e16f622</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotifica-b27c7.firebaseio.com</string>
</dict>
</plist>