<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AwesomeProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>46C26301BB3DCD9FB3122F4AA2A330D3C331869D</string>
				<key>dateExpires</key>
				<string>08/12/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>46C26301BB3DCD9FB3122F4AA2A330D3C331869D</string>
						<key>dateExpires</key>
						<string>08/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PayUCustomBrowser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>345WT4VQMV</string>
						<key>name</key>
						<string>Shahrukh Usmani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>46C26301BB3DCD9FB3122F4AA2A330D3C331869D</string>
						<key>dateExpires</key>
						<string>08/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PayUMoneyCoreSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>345WT4VQMV</string>
						<key>name</key>
						<string>Shahrukh Usmani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>46C26301BB3DCD9FB3122F4AA2A330D3C331869D</string>
						<key>dateExpires</key>
						<string>08/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PlugNPlay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>345WT4VQMV</string>
						<key>name</key>
						<string>Shahrukh Usmani</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>46C26301BB3DCD9FB3122F4AA2A330D3C331869D</string>
						<key>dateExpires</key>
						<string>08/12/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>345WT4VQMV.com.ios.bloombrainv2.OneSignalNotificationServiceExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>345WT4VQMV</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>345WT4VQMV.com.ios.bloombrainv2.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>dd987f6e-2ac8-4cc1-b224-24c7c07e19d3</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.ios.bloombrainv2.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>345WT4VQMV</string>
						<key>name</key>
						<string>Shahrukh Usmani</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>345WT4VQMV.com.ios.bloombrainv2</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>345WT4VQMV</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.ios.bloombrainv2.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AwesomeProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>728f8bf6-6f98-417c-89e9-3c8e12762120</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.ios.bloombrainv2</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>345WT4VQMV</string>
				<key>name</key>
				<string>Shahrukh Usmani</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
